.collection-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    background: #3b1bb969;
    transition: 1s;
    border-left: 5px solid #ffffff5c;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    z-index: 2;
}

.collection-container-hovered {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background: #3b1bb969;
    transition: 1s;
    border-left: 5px solid #ffffff5c;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.profile-loading-screen {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000000da;
}

.collection-left-container {
    width: calc(100% - 500px);
    height: 100%;
}

.collection-right-container {
    width: calc(500px);
    height: 100%;
    background: #00000085;
    border-left: 5px solid #fff;
}

.collection-main-cardholder {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 600px;
}

.collection-cards-box {
    position: relative;
    width: 100%;
    height: 80%;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    background: #00000053;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 32px;
    overflow-y: auto;
    overflow-x: hidden;
}

.collection-cards-box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #99c8d1;
	border-radius: 10px;
}

.collection-cards-box::-webkit-scrollbar
{
	width: 10px;
	background-color: none;
}

.collection-cards-box::-webkit-scrollbar-thumb
{
	background-color: #3366FF;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,
	                                          rgba(255, 255, 255, 0.5) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, 0.5) 50%,
											  rgba(255, 255, 255, 0.5) 75%,
											  transparent 75%,
											  transparent)
}

.card-image-item {
    max-height: 100%;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
  
.img-fluid {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: 0.3s;
}

.img-fluid:hover {
    transform: scale(1.1);
    animation: cardShadowAnim 6s ease-in-out infinite;
}

.collection-cards-search-container {
    position: relative;
    top: 0;
    width: 100%;
    height: 10%;
}

.card-search-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 40px;
    padding: 5px;
    background: #00000055;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    outline: none;
    transition: 0.2s;
}

.card-search-input:hover {
    background: #000000b4;
}

@keyframes cardShadowAnim {
    0% {
        box-shadow: 0px 0px 10px 3px rgba(149,222,26,0.75);
        -webkit-box-shadow: 0px 0px 10px 3px rgba(149,222,26,0.75);
        -moz-box-shadow: 0px 0px 10px 3px rgba(149,222,26,0.75);
    }
    20% {
        box-shadow: 0px 0px 10px 3px rgba(222, 26, 26, 0.75);
        -webkit-box-shadow: 0px 0px 10px 3px rgba(222, 26, 26, 0.75);
        -moz-box-shadow: 0px 0px 10px 3px rgba(222, 26, 26, 0.75);
    }
    40% {
        box-shadow: 0px 0px 10px 3px rgba(26, 206, 222, 0.75);
        -webkit-box-shadow: 0px 0px 10px 3px rgba(26, 206, 222, 0.75);
        -moz-box-shadow: 0px 0px 10px 3px rgba(26, 206, 222, 0.75);
    }
    60% {
        box-shadow: 0px 0px 10px 3px rgba(173, 222, 26, 0.75);
        -webkit-box-shadow: 0px 0px 10px 3px (173, 222, 26, 0.75);
        -moz-box-shadow: 0px 0px 10px 3px (173, 222, 26, 0.75);
    }
    80% {
        box-shadow: 0px 0px 10px 3px rgba(222, 26, 157, 0.75);
        -webkit-box-shadow: 0px 0px 10px 3px rgba(222, 26, 157, 0.75);
        -moz-box-shadow: 0px 0px 10px 3px rgba(222, 26, 157, 0.75);
    }
    100% {
        box-shadow: 0px 0px 10px 3px rgba(149,222,26,0.75);
        -webkit-box-shadow: 0px 0px 10px 3px rgba(149,222,26,0.75);
        -moz-box-shadow: 0px 0px 10px 3px rgba(149,222,26,0.75);
    }
}