.download-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    background: #000;
    color: #fff;
    transition: 1s;
}

.download-container-hovered {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background: #000;
    color: #fff;
    transition: 1s;
}

.progressbar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2.5);
    display: inline-flex;
}

.prograssbar-label {
    position: absolute;
    top: 100px;
    left: 0;
    color: #74de17;
    font-size: 12px;
    display: 'flex';
    align-items: center;
    justify-content: center;
}