.background-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 0;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0;
    filter: hue-rotate(0deg);
    animation: fadeInVideo 1.5s linear 1;
    animation-fill-mode: forwards;
}

.video-background.loaded {
    opacity: 1;
}

.background-loading-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000dd;
}

@keyframes fadeInVideo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}